.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.live-value {
  color: white;
  font-size: calc(100px + 2vmin);
  padding: 5%;
}

.redback-logo {
  max-width: calc(200px + 1vmin);
  display: flex;
  align-self: center;
  padding-top: 5%;
}

.value-title {
  font-size: calc(30px + 2vmin);
  font-weight: bold;
}

.temperature-border {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 500px;
  height: 500px;
  border: 15px solid;
  border-radius: 50%;
}

.live-value-wrapper {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.live-value {
  position: absolute;
  top: 100px;
  font-weight: bold;
}

.temperature-warning {
  position: absolute;
  top: 270px;
}

.temperature-wrapper {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
}

